/* Start Footer */
footer {
    h5 {
        font-weight: bold;
        color: $mainColor-one;
    }
    a {
        color: rgba($color-black, .7);
        &:hover {
            color: #cb3837;
        }
    }
    @media #{$maxMobile} {
        .margin:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}