.navbar {
    border-width: 3px 0 0;
    border-top-style: solid;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    .navbar-collapse {
        justify-content: flex-end;
        .nav-link {
            color: #000;
            &:hover {
                @include hover;
            }
        }
    }
}