@mixin parent-bottom($min-width) {
    padding: 20px;
    min-width: $min-width;
    text-align: center;
    color: #FFF;
    background-color: #000;
    border: none;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-weight: 700;
    transition: .25s;
    font-size: 1.25rem;
    border-radius: 0;
}